<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wehelpyoubook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/avatar_whybook"
        android:label="@string/app_name"
        android:roundIcon="@drawable/avatar_whybook"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wehelpyoubook">

        <activity
            android:name=".notification.afterNotification"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".feedback.Feedback"
            android:exported="false" />
        <activity
            android:name=".update.UpdateData"
            android:exported="false" />
        <activity
            android:name=".restaurentInterface.RestaurantEdit"
            android:exported="false" />
        <activity
            android:name=".vouchercontroller.VoucherEdit"
            android:exported="false" />
        <activity
            android:name=".vouchercontroller.VoucherListActivity"
            android:exported="false" />
        <activity
            android:name=".accountcontrol.info.UserInformationActivity"
            android:exported="false" />
        <activity
            android:name=".accountcontrol.info.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".accountcontrol.info.ChangeNameActivity"
            android:exported="false" />
        <activity
            android:name=".accountcontrol.info.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".accountcontrol.info.ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".accountcontrol.auth.ReAuthenticateActivity"
            android:exported="false" />
        <activity
            android:name=".accountcontrol.auth.EmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".restaurentInterface.RestaurantInterfaceControl"
            android:exported="false" />
        <activity
            android:name=".restaurentInterface.ListRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".accountcontrol.user.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".accountcontrol.HomeSignInActivity"
            android:exported="false" />
        <activity
            android:name=".accountcontrol.user.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".accountcontrol.user.EmailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>